:root {
   --color-grey: #424424;
   --color-blue: #54c2b3;
   --color-red: #db1139;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    appearance: none;
    border: none;
    background-color: #fff;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

input:not([type="checkbox"]) {
    width: 100%;
    background-color: #fff;
    border: 2px solid var(--color-grey);
    border-radius: 5px;
    padding: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    border-bottom: 8px solid var(--color-grey);
}

#add-button {
    padding: 0.8em;
    border: 2px solid #000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 1.1em;
    transition: all 0.1s;
}

#add-sign {
    border: 2px solid #000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 8px;
    cursor: pointer;
}

#add-button:hover, #add-sign:hover {
    color: #fff;
    background-color: #000;
    font-weight: bold;
    transform: scale(1.1);
}

#add-button:active {
    background-color: var(--color-grey);
    transform: scale(0.95);
}

.book-list {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.instruction-div {
    padding: 1rem;
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;
    display: none;
}

.instruction-div > p {
    text-decoration: underline;
}

.show {
    display: block;
}

.book {
    display: grid;
    grid-template-columns: 1fr auto;
    border: 5px solid var(--color-grey);
    border-radius: 12px;
    width: 300px;
    height: 200px;
}

.info-section {
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    font-size: 1.5em;
    padding: 0.5em;
}

.title {
    font-weight: bold;
}

.button-section {
    display: grid;
    grid-template-rows: auto;
    padding: 0  6px;
    border-left: 3px solid var(--color-grey);
}

.button-section > button {
    width: max-content;
    font-size: 1.8em;
    cursor: pointer;
    transition: color 0.1s;
}

.toggle-button:hover {
    color: rgb(199, 199, 37);
}

.edit-button:hover {
    color: blue;
}

.delete-button:hover {
    color: crimson;
}


#add-book-form {
    display: grid;
    grid-template-rows: max-content;
    row-gap: 10px;
    font-size: 120%;
    padding: 1em;
    margin-top: 1em;
    border-radius: 10px;
    color: #fff;
    background-color: var(--color-grey);
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

.form-row > input {
    border: 2px solid #000;
}

#checkbox-label {
    display: grid;
    grid-template-columns: 1em auto;
    align-items: center;
    cursor: pointer;
}

#read-status-checkbox {
    grid-area: 1 / 1;
    appearance: none;
    width: 1em;
    height: 1em;
    border: 2px solid #000;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
    display: grid;
    place-content: center;
}

#read-status-checkbox::before {
    content: "";
    width: 0.7em;
    height: 0.7em;
    background-color: #000;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

#read-status-checkbox:checked::before {
    transform: scale(1);
}

#modal-button {
    width: 100%;
    padding: 8px;
    border: 2px solid #000;
    border-radius: 12px;
    color: #fff;
    background-color: var(--color-blue);
    transition: all 0.1s ease;
    font-size: 20px;
    font-weight: bold;
}

#modal-button:active {
    transform: scale(0.9);
}

#modal-button:hover {
    transform: scale(1.1);
    background-color: var(--color-red);
    border-color: #fff;
}

#add-book-modal:open {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 100vh;
    margin: 0 auto;
    background-color: transparent;
    border: none;
}

#confirm-choice-modal:open {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
    border: none;
    width: 100%;
}

#choice-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    text-align: center;
    background-color: var(--color-grey);
    box-shadow: 2px 3px 1px 2px var(--color-red);
    border-radius: 12px;
    padding: 1rem;
    padding-bottom: 0.5rem;
}

.dialog-message {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
}

.dialog-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.dialog-buttons > button {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    transition: all 0.1s ease-in-out;
}

.dialog-buttons > button:hover {
    background-color: var(--color-grey);
}

#confirm-button:hover {
    color: var(--color-blue);
}

#cancel-button:hover {
    color: var(--color-red);
}